@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

:root{
    --primary-color:#125a60;
    --secondary-color:#3cc2b1;
    --tertiary-color:#f1fdfc;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color:var(--tertiary-color);
    width:100vw;
    overflow-x: hidden;
    position: relative;
}